In [44]:
import sys
import os
import re
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas

Looking in indexes: https://pypi.python.org/simple, https://pypi.apple.com/simple
Requirement already satisfied: numpy in /usr/local/lib/python3.8/site-packages (1.19.4)
Looking in indexes: https://pypi.python.org/simple, https://pypi.apple.com/simple
Requirement already satisfied: pandas in /usr/local/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/site-packages (from pandas) (2020.4)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.8/site-packages (from pandas) (1.19.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [46]:
import pandas as pd
import numpy as np

IGNORED_FILES = ['.DS_Store']
RAW_DATA_ROOT_PATH = 'data/kaggle_raw/'

In [138]:
# Writes a list of paths to files in data directory
def write_data_paths():
    data_paths = []
    for subdir, dirs, files in os.walk(RAW_DATA_ROOT_PATH):
        for file in files:
            if file not in IGNORED_FILES:
                data_paths.append(os.path.join(subdir, file))
    return data_paths



data_paths = write_data_paths()


WIC_dir_re = re.compile('data\/kaggle_raw\/WICAgencies*.{4}ytd\/.*\.csv')
WIC_data_paths = [path for path in data_paths if re.findall(WIC_dir_re, path)]

variables = [col for col in list(pd.read_csv(WIC_data_paths[0], nrows=1)) if col != 'State Agency or Indian Tribal Organization']
subtitle = re.findall(re.compile('data\/kaggle_raw\/WICAgencies*.{4}ytd\/(.*)\.csv'),WIC_data_paths[0])[0]


WIC_df = pd.read_csv(WIC_data_paths[0]).melt(id_vars=['State Agency or Indian Tribal Organization'],value_vars=headers).rename(columns={'variable':'month', 'value':subtitle})

WIC_df

# subtitle = re.findall(re.compile('data\/kaggle_raw\/WICAgencies*.{4}ytd\/(.*)\.csv'),WIC_data_paths[0])[0]
# subtitle
# headers = [" ".join([subtitle,col.split()[0]]) for col in list(pd.read_csv(WIC_data_paths[0], nrows=1))]
# headers
#WIC_df = pd.read_csv(WIC_data_paths[0], index_col='State Agency or Indian Tribal Organization',usecols =[i for i in headers if i != 'Cumulative Average'], names=headers, header=0)
#
#WIC_df
#wic_agencies_13_ytd = pd.read_csv("data/kaggle_raw/WICAgencies2013ytd")
#wic_agencies_13_ytd

,State Agency or Indian Tribal Organization,month,Infants_Partially_Breastfed
0,Connecticut,2014-10-01 00:00:00,3463.000000
1,Maine,2014-10-01 00:00:00,589.000000
2,Massachusetts,2014-10-01 00:00:00,6063.000000
3,New Hampshire,2014-10-01 00:00:00,342.000000
4,New York,2014-10-01 00:00:00,37885.000000
...,...,...,...
1191,Washington,Average Participation,5479.916667
1192,Northern Marianas,Average Participation,165.750000
1193,"Inter-Tribal Council, AZ",Average Participation,220.083333
1194,"Navajo Nation, AZ",Average Participation,437.416667
1195,"Inter-Tribal Council, NV",Average Participation,33.916667