In [1]:
import sys
import os
import re
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas

Looking in indexes: https://pypi.python.org/simple, https://pypi.apple.com/simple
Requirement already satisfied: numpy in /usr/local/lib/python3.8/site-packages (1.19.4)
Looking in indexes: https://pypi.python.org/simple, https://pypi.apple.com/simple
Requirement already satisfied: pandas in /usr/local/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/site-packages (from pandas) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.8/site-packages (from pandas) (1.19.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
import numpy as np

IGNORED_FILES = ['.DS_Store']
RAW_DATA_ROOT_PATH = 'data/kaggle_raw/'

In [48]:
# Writes a list of paths to files in data directory
def write_data_paths():
    data_paths = []
    for subdir, dirs, files in os.walk(RAW_DATA_ROOT_PATH):
        for file in files:
            if file not in IGNORED_FILES:
                data_paths.append(os.path.join(subdir, file))
    return data_paths


def preprocess_WIC(data_paths):

    df_list = []
    WIC_dir_re = re.compile('data\/kaggle_raw\/WICAgencies*.{4}ytd\/.*\.csv')
    WIC_data_paths = [path for path in data_paths if re.findall(WIC_dir_re, path)]
    
    #TODO: Nut_Services_Admin_Costs reformats the dates 
    
    for path in WIC_data_paths:
        _variables = [col for col in list(pd.read_csv(path, nrows=1)) if col != 'State Agency or Indian Tribal Organization']
        _subtitle = re.findall(re.compile('data\/kaggle_raw\/WICAgencies*.{4}ytd\/(.*)\.csv'),path)[0]
        _year = re.findall(re.compile('data\/kaggle_raw\/WICAgencies*(.{4})ytd\/.*\.csv'),path)[0]
        print(_subtitle)
        _WIC_df = pd.read_csv(path).melt(id_vars=['State Agency or Indian Tribal Organization'],value_vars=variables).rename(columns={'variable':'month', 'value':_subtitle})
        print(_WIC_df)
        _WIC_df['MONTH'] = _WIC_df['month'].str.extract(r'(^\d{4}\-\d{2}\-\d{2})')
        _WIC_df['YEAR'] = _WIC_df['MONTH'].str.extract(r'(^\d{4})')
        del _WIC_df['month']
        _WIC_df.dropna(inplace=True)
        
        df_list.append(_WIC_df)
    
    return df_list



    
    
    
    
data_paths = write_data_paths()
WIC_df = preprocess_WIC(data_paths)

WIC_df

Infants_Partially_Breastfed
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

      Infants_Partially_Breastfed
0                     3463.000000
1                      589.000000
2                     6063.000000
3                      342.000000
4                    37885.000000
...                           ...
1191                  5479.916667
1192                   165.750000
1193                   220.083333
1194                   437.416667
1195                    33.916667

[1196 rows x 3 columns]
Total_Infants
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

           Total_Infants
0                  13408
1                   5374
2                  26538
3                   3706
4                 110153
...                  ...
1191  36213.083333333336
1192   584.6666666666666
1193  2252.1666666666665
1194             2011.25
1195   351.1666666666667

[1196 rows x 3 columns]
Total_Breastfeeding_Women
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

     Total_Breastfeeding_Women
0                         3136
1                         1454
2                         8866
3                          892
4                        48151
...                        ...
1191                     15430
1192        240.66666666666666
1193         454.9166666666667
1194         791.9166666666666
1195                     92.75

[1196 rows x 3 columns]
Total_Number_of_Participants
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

     Total_Number_of_Participants
0                           54403
1                           22436
2                          115004
3                           14835
4                          485855
...                           ...
1191           176133.08333333334
1192           3526.6666666666665
1193            9354.583333333334
1194            9509.916666666666
1195           1437.9166666666667

[1196 rows x 3 columns]
Pregnant_Women_Participating
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

     Pregnant_Women_Participating
0                            5834
1                            1899
2                           10946
3                            1408
4                           44158
...                           ...
1191           16463.583333333332
1192                       269.75
1193            816.3333333333334
1194                       883.75
1195           116.41666666666667

[1196 rows x 3 columns]
Nut_Services_Admin_Costs

KeyError: "The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"