In [1]:
import sys
import os
import re
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas

Looking in indexes: https://pypi.python.org/simple, https://pypi.apple.com/simple
Requirement already satisfied: numpy in /usr/local/lib/python3.8/site-packages (1.19.4)
Looking in indexes: https://pypi.python.org/simple, https://pypi.apple.com/simple
Requirement already satisfied: pandas in /usr/local/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.8/site-packages (from pandas) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.8/site-packages (from pandas) (1.19.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [52]:
import pandas as pd
import numpy as np
from functools import reduce

IGNORED_FILES = ['.DS_Store']
RAW_DATA_ROOT_PATH = 'data/kaggle_raw/'

In [56]:
# Writes a list of paths to files in data directory
def write_data_paths():
    data_paths = []
    for subdir, dirs, files in os.walk(RAW_DATA_ROOT_PATH):
        for file in files:
            if file not in IGNORED_FILES:
                data_paths.append(os.path.join(subdir, file))
    return data_paths


def preprocess_WIC(data_paths):

    df_list = []
    WIC_dir_re = re.compile('data\/kaggle_raw\/WICAgencies*.{4}ytd\/.*\.csv')
    WIC_data_paths = [path for path in data_paths if re.findall(WIC_dir_re, path)]
    
    
    for path in WIC_data_paths:
        try:     #TODO: Nut_Services_Admin_Costs reformats the dates 


            _variables = [col for col in list(pd.read_csv(path, nrows=1)) if col != 'State Agency or Indian Tribal Organization']
            _subtitle = re.findall(re.compile('data\/kaggle_raw\/WICAgencies*.{4}ytd\/(.*)\.csv'),path)[0]
            _year = re.findall(re.compile('data\/kaggle_raw\/WICAgencies*(.{4})ytd\/.*\.csv'),path)[0]
            print(_subtitle)
            _WIC_df = pd.read_csv(path).melt(id_vars=['State Agency or Indian Tribal Organization'],value_vars=variables).rename(columns={'variable':'month', 'value':_subtitle})
            print(_WIC_df)
            _WIC_df['MONTH'] = _WIC_df['month'].str.extract(r'(^\d{4}\-\d{2}\-\d{2})')
            _WIC_df['YEAR'] = _WIC_df['MONTH'].str.extract(r'(^\d{4})')
            del _WIC_df['month']
            _WIC_df.dropna(inplace=True)

            df_list.append(_WIC_df)
    
        except Exception as e:
            print(str(e))
            print(_subtitle)
            pass
            
    WIC_df = reduce(lambda x, y: pd.merge(x, y, on = ['State Agency or Indian Tribal Organization','YEAR','MONTH']), WIC_df_list)


    return WIC_df



    
    
    
    
data_paths = write_data_paths()
WIC_df = preprocess_WIC(data_paths)

WIC_df

Infants_Partially_Breastfed
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

      Infants_Partially_Breastfed
0                     3463.000000
1                      589.000000
2                     6063.000000
3                      342.000000
4                    37885.000000
...                           ...
1191                  5479.916667
1192                   165.750000
1193                   220.083333
1194                   437.416667
1195                    33.916667

[1196 rows x 3 columns]
Total_Infants
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

           Total_Infants
0                  13408
1                   5374
2                  26538
3                   3706
4                 110153
...                  ...
1191  36213.083333333336
1192   584.6666666666666
1193  2252.1666666666665
1194             2011.25
1195   351.1666666666667

[1196 rows x 3 columns]
Total_Breastfeeding_Women
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

     Total_Breastfeeding_Women
0                         3136
1                         1454
2                         8866
3                          892
4                        48151
...                        ...
1191                     15430
1192        240.66666666666666
1193         454.9166666666667
1194         791.9166666666666
1195                     92.75

[1196 rows x 3 columns]
Total_Number_of_Participants
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

     Total_Number_of_Participants
0                           54403
1                           22436
2                          115004
3                           14835
4                          485855
...                           ...
1191           176133.08333333334
1192           3526.6666666666665
1193            9354.583333333334
1194            9509.916666666666
1195           1437.9166666666667

[1196 rows x 3 columns]
Pregnant_Women_Participating
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

     Pregnant_Women_Participating
0                            5834
1                            1899
2                           10946
3                            1408
4                           44158
...                           ...
1191           16463.583333333332
1192                       269.75
1193            816.3333333333334
1194                       883.75
1195           116.41666666666667

[1196 rows x 3 columns]
Nut_Services_Admin_Costs
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Nut_Services_Admin_Costs
Postpartum_Women_Participating
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

     Postpartum_Women_Participating
0                              3001
1                              1448
2                              7014
3                              1148
4                             24290
...                             ...
1191                         8681.5
1192                         137.25
1193                         636.75
1194              418.4166666666667
1195              95.66666666666667

[1196 rows x 3 columns]
Average_Food_Cost_Per_Person
"The following 'value_vars' are not present in the DataFrame: ['Average Participation']"
Average_Food_Cost_Per_Person
Infants_Fully_Breastfed
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

      Infants_Fully_Breastfed
0                  998.000000
1                  964.000000
2                 3327.000000
3                  636.000000
4                 9440.000000
...                       ...
1191              9827.333333
1192                74.333333
1193               297.750000
1194               434.833333
1195                71.000000

[1196 rows x 3 columns]
Food_Costs
"The following 'value_vars' are not present in the DataFrame: ['Average Participation']"
Food_Costs
Children_Participating
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

     Children_Participating
0                     29024
1                     12261
2                     61640
3                      7681
4                    259103
...                     ...
1191      99344.91666666667
1192     2294.3333333333335
1193      5194.416666666667
1194      5404.583333333333
1195      781.9166666666666

[1196 rows x 3 columns]
Women_Partially_Breastfeeding
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

      Women_Partially_Breastfeeding
0                       2077.000000
1                        523.000000
2                       5651.000000
3                        277.000000
4                      37596.000000
...                             ...
1191                    5355.916667
1192                     166.666667
1193                     185.750000
1194                     408.250000
1195                      25.333333

[1196 rows x 3 columns]
Infants_Fully_Formula-fed
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

      Infants_Fully_Formula-fed
0                   8947.000000
1                   3821.000000
2                  17148.000000
3                   2728.000000
4                  62828.000000
...                         ...
1191               20905.833333
1192                 344.583333
1193                1734.333333
1194                1139.000000
1195                 246.250000

[1196 rows x 3 columns]
Rebates_Received
"The following 'value_vars' are not present in the DataFrame: ['Average Participation']"
Rebates_Received
Women_Fully_Breastfeeding
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

      Women_Fully_Breastfeeding
0                   1059.000000
1                    931.000000
2                   3215.000000
3                    615.000000
4                  10555.000000
...                         ...
1191               10074.083333
1192                  74.000000
1193                 269.166667
1194                 383.666667
1195                  67.416667

[1196 rows x 3 columns]
Total_Women
     State Agency or Indian Tribal Organization                  month  \
0                                   Connecticut    2014-10-01 00:00:00
1                                         Maine    2014-10-01 00:00:00
2                                 Massachusetts    2014-10-01 00:00:00
3                                 New Hampshire    2014-10-01 00:00:00
4                                      New York    2014-10-01 00:00:00
...                                         ...                    ...
1191                                 Washington  Average Participation
1192                          Northern Marianas  Average Participation
1193                   Inter-Tribal Council, AZ  Average Participation
1194                          Navajo Nation, AZ  Average Participation
1195                   Inter-Tribal Council, NV  Average Participation

             Total_Women
0                  11971
1                   4801
2                  26826
3                   3448
4                 116599
...                  ...
1191  40575.083333333336
1192   647.6666666666666
1193                1908
1194  2094.0833333333335
1195   304.8333333333333

[1196 rows x 3 columns]

Infants_Partially_Breastfed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Partially_Breastfed
Total_Infants
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Infants
Total_Breastfeeding_Women
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Breastfeeding_Women
Total_Number_of_Participants
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Number_of_Participants
Pregnant_Women_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Pregnant_Women_Participating
Nut_Services_Admin_Costs
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Nut_Services_Admin_Costs
Postpartum_Women_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Postpartum_Women_Participating
Average_Food_Cost_Per_Person
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Average_Food_Cost_Per_Person
Infants_Fully_Breastfed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Fully_Breastfed
Food_Costs
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Food_Costs
Children_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Children_Participating
Women_Partially_Breastfeeding
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Women_Partially_Breastfeeding
Infants_Fully_Formula-fed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Fully_Formula-fed
Rebates_Received
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Rebates_Received
Women_Fully_Breastfeeding
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Women_Fully_Breastfeeding
Total_Women
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Women
Infants_Partially_Breastfed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Partially_Breastfed
Total_Infants
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Infants
Total_Breastfeeding_Women
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Breastfeeding_Women
Total_Number_of_Participants
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Number_of_Participants
Pregnant_Women_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Pregnant_Women_Participating
Nut_Services_Admin_Costs
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Nut_Services_Admin_Costs
Postpartum_Women_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Postpartum_Women_Participating
Average_Food_Cost_Per_Person
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Average_Food_Cost_Per_Person
Infants_Fully_Breastfed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Fully_Breastfed
Food_Costs
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Food_Costs
Children_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Children_Participating
Women_Partially_Breastfeeding
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Women_Partially_Breastfeeding
Infants_Fully_Formula-fed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Fully_Formula-fed
Rebates_Received
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Rebates_Received
Women_Fully_Breastfeeding
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Women_Fully_Breastfeeding
Total_Women
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Women
Infants_Partially_Breastfed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Partially_Breastfed
Total_Infants
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Infants
Total_Breastfeeding_Women
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Breastfeeding_Women
Total_Number_of_Participants
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Number_of_Participants
Pregnant_Women_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Pregnant_Women_Participating
Nut_Services_Admin_Costs
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Nut_Services_Admin_Costs
Postpartum_Women_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Postpartum_Women_Participating
Average_Food_Cost_Per_Person
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Average_Food_Cost_Per_Person
Infants_Fully_Breastfed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Fully_Breastfed

Food_Costs
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Food_Costs
Children_Participating
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Children_Participating
Women_Partially_Breastfeeding
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Women_Partially_Breastfeeding
Infants_Fully_Formula-fed
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Infants_Fully_Formula-fed
Rebates_Received
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00', 'Average Participation']"
Rebates_Received
Women_Fully_Breastfeeding
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Women_Fully_Breastfeeding
Total_Women
"The following 'value_vars' are not present in the DataFrame: ['2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00', '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00']"
Total_Women

,State Agency or Indian Tribal Organization,Infants_Partially_Breastfed,MONTH,YEAR,Total_Infants,Total_Breastfeeding_Women,Total_Number_of_Participants,Pregnant_Women_Participating,Postpartum_Women_Participating,Infants_Fully_Breastfed,Children_Participating,Women_Partially_Breastfeeding,Infants_Fully_Formula-fed,Women_Fully_Breastfeeding,Total_Women
0,Connecticut,3463.0,2014-10-01,2014,13408,3136,54403,5834,3001,998.0,29024,2077.0,8947.0,1059.0,11971
1,Maine,589.0,2014-10-01,2014,5374,1454,22436,1899,1448,964.0,12261,523.0,3821.0,931.0,4801
2,Massachusetts,6063.0,2014-10-01,2014,26538,8866,115004,10946,7014,3327.0,61640,5651.0,17148.0,3215.0,26826
3,New Hampshire,342.0,2014-10-01,2014,3706,892,14835,1408,1148,636.0,7681,277.0,2728.0,615.0,3448
4,New York,37885.0,2014-10-01,2014,110153,48151,485855,44158,24290,9440.0,259103,37596.0,62828.0,10555.0,116599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,Washington,5563.0,2015-09-01,2015,35885,15572,174674,16058,8448,9866.0,98711,5460.0,20456.0,10112.0,40078
1088,Northern Marianas,160.0,2015-09-01,2015,539,240,3463,291,131,79.0,2262,159.0,300.0,81.0,662
1089,"Inter-Tribal Council, AZ",189.0,2015-09-01,2015,2170,455,9429,846,624,323.0,5334,156.0,1658.0,299.0,1925
1090,"Navajo Nation, AZ",436.0,2015-09-01,2015,1979,783,9673,857,399,393.0,5655,407.0,1150.0,376.0,2039
1091,"Inter-Tribal Council, NV",40.0,2015-09-01,2015,346,77,1424,121,106,55.0,774,32.0,251.0,45.0,304